<div class="search-container">
  <input
    type="text"
    placeholder="Buscar documento"
    class="field"
    [formControl]="search" />
  <div class="icons-container">
    <div class="icon-search"></div>
  </div>
</div>
<div class="container mx-auto">
  <div class="flex justify-between">
    <button
      mat-flat-button
      color="accent"
      class="btn-add-document"
      (click)="addDocument()">
      Agregar documento
    </button>
  </div>
  <app-documents-table
    [index]="index"
    [columns]="columns"
    [filters]="filters"
    [rowActions]="rowActions"
    [sortActive]="sortActive"
    [sortDirection]="sortDirection"
    [search]="search"></app-documents-table>
</div>
