<div class="search-container">
  <input type="text" placeholder="Buscar documento" class="field" />
  <div class="icons-container">
    <div class="icon-search"></div>
  </div>
</div>
<div class="container mx-auto">
  <div class="flex justify-between">
    <h4 class="text-6xl pt-8">Documentos</h4>
    <button mat-flat-button color="accent" class="btn-add-document">
      Agregar documento
    </button>
  </div>
  <div class="grid grid-cols-6 my-8 gap-x-8">
    <div class="col-span-1">
      <app-documents-filters [documents]="documents"></app-documents-filters>
    </div>
    <div class="col-span-5">
      <app-documents-table [documents]="documents"></app-documents-table>
    </div>
  </div>
</div>
