<div class="container mx-auto grid grid-cols-3 my-8 gap-x-8">
  <div class="col-span-1">
    <h2 class="text-6xl my-8">Agregar Documento</h2>
    <form [formGroup]="documentForm">
      <div class="flex flex-col my-10">
        <div class="mb-4 mt-16">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input
              formControlName="name"
              matInput
              placeholder="Ingresa nombre del documento"
              autocomplete="off" />
          </mat-form-field>
          <div class="grid grid-cols-2 gap-x-4">
            <mat-form-field appearance="fill">
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type.value">{{
                  type.label
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Codigo</mat-label>
              <input
                formControlName="code"
                matInput
                placeholder="Ingresar codigo"
                autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Fecha de creacion</mat-label>
              <input
                formControlName="creationDate"
                matInput
                [matDatepicker]="picker"
                [max]="maxDate" />
              <mat-hint>dd/mm/yyyy</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Area</mat-label>
              <mat-select formControlName="area">
                <mat-option *ngFor="let area of areas" [value]="area.value">{{
                  area.label
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <input
          accept="application/pdf"
          hidden
          (change)="onFileSelected()"
          #fileInput
          class="hidden"
          id="file"
          type="file" />
        <button
          [disabled]="file"
          mat-raised-button
          class="mb-4"
          color="primary"
          (click)="fileInput.click()">
          Subir documento
        </button>
        <div class="space-y-4">
          <mat-slide-toggle formControlName="shouldNotify"
            >Notificar a interesados</mat-slide-toggle
          >
          <mat-form-field
            *ngIf="documentForm.value.shouldNotify"
            appearance="fill">
            <mat-label>Interesados</mat-label>
            <mat-chip-list #chipListRecipients>
              <mat-chip
                *ngFor="let recipient of documentForm.value.recipients"
                (removed)="removeRecipient(recipient)">
                {{ recipient }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="Nuevo interesado..."
                [matChipInputFor]="chipListRecipients"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                autocomplete="off"
                (matChipInputTokenEnd)="addRecipient($event)"
                [matChipInputAddOnBlur]="addOnBlur" />
              <mat-error *ngIf="!isValidEmail">Not a valid email</mat-error>
            </mat-chip-list>
            <mat-hint>Escribe y pulsa enter</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="col-span-2 ml-8">
    <mat-card class="my-14">
      <button *ngIf="pdfSrc" mat-icon-button (click)="removeFile()">
        <mat-icon>close</mat-icon>
      </button>
      <pdf-viewer
        *ngIf="pdfSrc"
        [src]="pdfSrc"
        [render-text]="true"
        [original-size]="false"
        style="width: 100%; height: 50vh">
      </pdf-viewer>
      <div *ngIf="!pdfSrc">Sin archivo seleccionado</div>
    </mat-card>
  </div>
  <div class="col-span-3 flex justify-between">
    <button
      [disabled]="uploading"
      mat-stroked-button
      (click)="cancel()"
      color="primary">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="save()">Publicar</button>
  </div>
</div>
