<div>
  <h4 class="text-5xl mb-3">Filtros</h4>
  <h6 class="text-xl">Tipo de documento</h6>
  <ul>
    <li>
      <mat-checkbox class="text-base">Acta</mat-checkbox>
    </li>
    <li>
      <mat-checkbox class="text-base">Resolución</mat-checkbox>
    </li>
  </ul>
  <button class="btn-view-more text-sm">
    Ver más <i class="arrow-down text-base"></i>
  </button>
  <h6 class="text-xl">Año de publicación</h6>
  <ul>
    <li>
      <mat-checkbox class="text-base">2021</mat-checkbox>
    </li>
    <li>
      <mat-checkbox class="text-base">2022</mat-checkbox>
    </li>
  </ul>
  <h6 class="text-xl">Área</h6>
  <ul>
    <li>
      <mat-checkbox class="text-base">Lorem</mat-checkbox>
    </li>
    <li>
      <mat-checkbox class="text-base">Ipsum</mat-checkbox>
    </li>
  </ul>
  <button mat-flat-button color="accent" class="btn-apply-filters">
    Filtrar
  </button>
</div>
