<div class="px-4 py-8 bg-[#1a365e]">
  <div class="flex justify-between">
    <div class="flex">
      <img class="w-16 h-16 ml-10" src="assets/images/logo.png" height="35px" />
      <div class="ml-10">
        <div class="text-3xl text-white">Portal de transparencia</div>
        <div class="text-2xl text-white/40">
          Escuela profesional de Ingeniería de sistemas
        </div>
      </div>
    </div>
    <div>
      <button mat-icon-button color="accent" (click)="changeTheme()">
        <mat-icon>brightness_4</mat-icon>
      </button>
      <button
        *ngIf="authService.isLoggedIn"
        mat-icon-button
        color="accent"
        (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</div>

