<div class="search-container">
  <input type="text" placeholder="Buscar documento" class="field" />
  <div class="icons-container">
    <div class="icon-search"></div>
  </div>
</div>
<div class="container mx-auto">
  <h4 class="text-5xl pt-8">{{ documents.length }} Resultados encontrados</h4>
  <div class="grid grid-cols-6 my-8 gap-x-8">
    <div class="col-span-1">
      <app-documents-filters [documents]="documents"></app-documents-filters>
    </div>
    <div class="col-span-5">
      <app-documents-table [documents]="documents"></app-documents-table>
    </div>
  </div>
</div>
