//Main palette
$main-blue: (
    50 : #e1effa,
    100 : #b3d7f2,
    200 : #80bcea,
    300 : #4da1e2,
    400 : #278cdb,
    500 : #0178d5,
    600 : #0170d0,
    700 : #0165ca,
    800 : #015bc4,
    900 : #0048ba,
    A100 : #e3ecff,
    A200 : #b0c9ff,
    A400 : #7da6ff,
    A700 : #6395ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Accent palette
$accent-blue: (
    50 : #e1effa,
    100 : #b3d7f2,
    200 : #80bcea,
    300 : #4da1e2,
    400 : #278cdb,
    500 : #0178d5,
    600 : #0170d0,
    700 : #0165ca,
    800 : #015bc4,
    900 : #0048ba,
    A100 : #e3ecff,
    A200 : #b0c9ff,
    A400 : #7da6ff,
    A700 : #6395ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);