//Main palette
$main-fuxia: (
    50 : #f2eaf5,
    100 : #decbe6,
    200 : #c9a8d6,
    300 : #b385c5,
    400 : #a26bb8,
    500 : #9251ac,
    600 : #8a4aa5,
    700 : #7f409b,
    800 : #753792,
    900 : #632782,
    A100 : #eac4ff,
    A200 : #d791ff,
    A400 : #c55eff,
    A700 : #bb45ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

//Accent palette
$accent-fuxia: (
    50 : #f2eaf5,
    100 : #decbe6,
    200 : #c9a8d6,
    300 : #b385c5,
    400 : #a26bb8,
    500 : #9251ac,
    600 : #8a4aa5,
    700 : #7f409b,
    800 : #753792,
    900 : #632782,
    A100 : #eac4ff,
    A200 : #d791ff,
    A400 : #c55eff,
    A700 : #bb45ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

/*
$accent-fuxia: (
    50 : #f6edf8,
    100 : #e9d2ed,
    200 : #dbb5e2,
    300 : #cd97d6,
    400 : #c280cd,
    500 : #b76ac4,
    600 : #b062be,
    700 : #a757b6,
    800 : #9f4daf,
    900 : #903ca2,
    A100 : #fdf1ff,
    A200 : #f3beff,
    A400 : #ea8bff,
    A700 : #e672ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
*/