//Main palette
$main-gray: (
    50 : #e9ebec,
    100 : #c7ced1,
    200 : #a2adb2,
    300 : #7d8c93,
    400 : #61737b,
    500 : #455a64,
    600 : #3e525c,
    700 : #364852,
    800 : #2e3f48,
    900 : #1f2e36,
    A100 : #7dcdff,
    A200 : #4abaff,
    A400 : #17a7ff,
    A700 : #009cfc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

//Accent palette
$accent-gray: (
    50 : #ebf6f1,
    100 : #cce9dd,
    200 : #aadac6,
    300 : #88cbaf,
    400 : #6fc09d,
    500 : #55b58c,
    600 : #4eae84,
    700 : #44a579,
    800 : #3b9d6f,
    900 : #2a8d5c,
    A100 : #d1ffe7,
    A200 : #9effcd,
    A400 : #6bffb2,
    A700 : #52ffa5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);