//Main palette
$main-green: (
  50: #e6f2ee,
  100: #bfdfd4,
  200: #95cab8,
  300: #6bb49b,
  400: #4ba485,
  500: #2b9470,
  600: #268c68,
  700: #20815d,
  800: #1a7753,
  900: #106541,
  A100: #9bffd1,
  A200: #68ffb9,
  A400: #35ffa2,
  A700: #1bff96,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

//Accent palette
$accent-green: (
  50: #e6f2ee,
  100: #bfdfd4,
  200: #95cab8,
  300: #6bb49b,
  400: #4ba485,
  500: #2b9470,
  600: #268c68,
  700: #20815d,
  800: #1a7753,
  900: #106541,
  A100: #9bffd1,
  A200: #68ffb9,
  A400: #35ffa2,
  A700: #1bff96,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
