//Main palette
$main-purple: (
  50: #ecedf8,
  100: #cfd1ee,
  200: #b0b3e3,
  300: #9095d7,
  400: #787ecf,
  500: #6067c6,
  600: #585fc0,
  700: #4e54b9,
  800: #444ab1,
  900: #3339a4,
  A100: #edeeff,
  A200: #babdff,
  A400: #878cff,
  A700: #6e74ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

//Accent palette
// $accent-purple: (
//     50 : #fff4f1,
//     100 : #ffe3db,
//     200 : #ffd1c3,
//     300 : #ffbeab,
//     400 : #ffb099,
//     500 : #ffa287,
//     600 : #ff9a7f,
//     700 : #ff9074,
//     800 : #ff866a,
//     900 : #ff7557,
//     A100 : #ffffff,
//     A200 : #ffffff,
//     A400 : #fffcfc,
//     A700 : #ffe7e2,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #000000,
//         600 : #000000,
//         700 : #000000,
//         800 : #000000,
//         900 : #000000,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

$accent-purple: (
  50: #fffbf6,
  100: #fef5e9,
  200: #feeeda,
  300: #fde7cb,
  400: #fce2c0,
  500: #fcddb5,
  600: #fcd9ae,
  700: #fbd4a5,
  800: #fbcf9d,
  900: #fac78d,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
