//Main palette
$main-spaceblue: (
  50: #e5eaf7,
  100: #bfcbeb,
  200: #95a9dd,
  300: #6a86cf,
  400: #4a6cc5,
  500: #2a52bb,
  600: #254bb5,
  700: #1f41ac,
  800: #1938a4,
  900: #0f2896,
  A100: #c6cfff,
  A200: #93a4ff,
  A400: #6078ff,
  A700: #4763ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

//Accent palette
$accent-spaceblue: (
  50: #e5eaf7,
  100: #bfcbeb,
  200: #95a9dd,
  300: #6a86cf,
  400: #4a6cc5,
  500: #2a52bb,
  600: #254bb5,
  700: #1f41ac,
  800: #1938a4,
  900: #0f2896,
  A100: #c6cfff,
  A200: #93a4ff,
  A400: #6078ff,
  A700: #4763ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
