//Main palette
$main-sunrise: (
    50 : #fceae7,
    100 : #f9ccc2,
    200 : #f5aa9a,
    300 : #f08772,
    400 : #ed6e53,
    500 : #ea5435,
    600 : #e74d30,
    700 : #e44328,
    800 : #e13a22,
    900 : #db2916,
    A100 : #ffffff,
    A200 : #ffdcd9,
    A400 : #ffada6,
    A700 : #ff958c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//Accent palette
$accent-sunrise: (
    50 : #fceae7,
    100 : #f9ccc2,
    200 : #f5aa9a,
    300 : #f08772,
    400 : #ed6e53,
    500 : #ea5435,
    600 : #e74d30,
    700 : #e44328,
    800 : #e13a22,
    900 : #db2916,
    A100 : #ffffff,
    A200 : #ffdcd9,
    A400 : #ffada6,
    A700 : #ff958c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);