//Main palette
$main-yellow: (
  50: #fff6e6,
  100: #ffebcc,
  200: #ffe0b3,
  300: #ffd599,
  400: #ffc980,
  500: #ffbe66,
  600: #ffb84d,
  700: #ffb433,
  800: #ffb01a,
  900: #ffab00,
  A100: #ffffe6,
  A200: #ffffcc,
  A400: #ffff99,
  A700: #ffff80,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

//Accent palette
$accent-yellow: (
  50: #fff6e6,
  100: #ffebcc,
  200: #ffe0b3,
  300: #ffd599,
  400: #ffc980,
  500: #ffbe66,
  600: #ffb84d,
  700: #ffb433,
  800: #ffb01a,
  900: #ffab00,
  A100: #ffffe6,
  A200: #ffffcc,
  A400: #ffff99,
  A700: #ffff80,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$secondary: (
  900: #f1bc00,
);
