@use '@angular/material' as mat;
@import 'variable';
@import 'custom-theme';
// @import 'mat-daterangepicker/mat-daterangepicker.theme.scss';
//@import 'sg-datepicker-theme';

// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.

//Custom typography
$custom-typography: mat.define-typography-config(
  $font-family: 'Poppins, sans-serif;',
  $display-4: mat.define-typography-level(112px, 112px, 600),
  $display-3: mat.define-typography-level(56px, 56px, 600),
  $display-2: mat.define-typography-level(45px, 48px, 600),
  $display-1: mat.define-typography-level(34px, 40px, 600),
  $headline: mat.define-typography-level(24px, 32px, 600),
  $title: mat.define-typography-level(20px, 32px, 600),
  $subheading-2: mat.define-typography-level($main-fs, $main-lh, 600),
  $subheading-1: mat.define-typography-level($main-fs, $main-lh, 600),
  $body-2: mat.define-typography-level($main-fs, $main-lh, 600),
  $body-1: mat.define-typography-level($main-fs, $main-lh, 600),
  $caption: mat.define-typography-level(12px, $main-lh, 500),
  $button: mat.define-typography-level($main-fs, $main-fs, 600),
  $input: mat.define-typography-level(inherit, 1.125, 500),
);

// Override typography CSS classes in material components
@include mat.core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// $candy-app-primary: mat-palette($main-gray);
// $candy-app-accent:  mat-palette($accent-gray);
// $candy-app-warn:    mat-palette($mat-red);
// $candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.

// @include angular-material-theme($candy-app-theme);

$skins: (
  blue-skin: (
    primary: $main-blue,
    accent: $accent-blue,
  ),
  purple-skin: (
    primary: $main-purple,
    accent: $accent-purple,
  ),
  fuxia-skin: (
    primary: $main-fuxia,
    accent: $accent-fuxia,
  ),
  gray-skin: (
    primary: $main-gray,
    accent: $accent-gray,
  ),
  sunrise-skin: (
    primary: $main-sunrise,
    accent: $accent-sunrise,
  ),
  spaceblue-skin: (
    primary: $main-spaceblue,
    accent: $accent-spaceblue,
  ),
  green-skin: (
    primary: $main-green,
    accent: $accent-green,
  ),
  red-skin: (
    primary: $main-red,
    accent: $accent-red,
  ),
);

@function create-theme(
  $primary,
  $accent,
  $warn,
  $foreground,
  $background,
  $is-dark
) {
  @return (
    primary: mat.define-palette($primary),
    accent: mat.define-palette($accent),
    warn: mat.define-palette($warn),
    is-dark: $is-dark,
    foreground: $foreground,
    background: $background
  );
}

.light-theme {
  $theme: (
    background: $theme-background,
    foreground: $theme-foreground,
  );
  @include light-theme($theme);
  @each $key, $skin in $skins {
    &.#{$key} {
      $theme-skin: create-theme(
        map-get($skin, primary),
        map-get($skin, accent),
        mat.$red-palette,
        $theme-foreground,
        $theme-background,
        false
      );
      @include skin-theme($theme-skin);
      @include mat.all-component-themes($theme-skin);
      // @include mat-daterangepicker-theme($theme-skin);
    }
  }
}

.dark-theme {
  $theme: (
    background: $theme-background-dark,
    foreground: $theme-foreground-dark,
  );
  @include dark-theme($theme);
  @each $key, $skin in $skins {
    &.#{$key} {
      $theme-skin: create-theme(
        map-get($skin, primary),
        map-get($skin, accent),
        mat.$deep-orange-palette,
        $theme-foreground-dark,
        $theme-background-dark,
        true
      );
      @include skin-theme($theme-skin);
      @include mat.all-component-themes($theme-skin);
    }
  }
}
